body {
  margin: auto;
  width: 50%;
  background-color: pink;
  
}

.tbl td {
  font-size: 30px;
  text-align: center;
  width:20px;  
  height:20px; 
  cursor: pointer;
}

.clicked {
background-color: red;
}